*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar start here */
.navBar{
    background-color: #F4FEFF;
}
.collapse ul li{
    width: 80px;
}
.collapse ul li a {
    color: #A60DCF;
    font-size: 17px;
}

/* navbar end here */
/* banner start here */
#banner{
    background-color: #F4FEFF;
    width: 100%;
}
#banner .detailsBanner{
    font-size: 20px;
}
#banner h1 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 63px;
    font-weight: bold;
    line-height: 84px;
    letter-spacing: 4px;
}
#banner .paraBanner {
    line-height: 27px;
    letter-spacing: 1px;
}
#banner .downloadBanner{
    width: 33%;
    height: 9vh;
    border-radius: 30px;
    background: #F9218D;
    border: none;
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
#banner .downloadBanner:hover{
    background-color: #6b0036;
}
/* banner end here */
/* features start here */
#features{
    background-color: #fff;
}
#features .cardImg {
    background: #A273F5;
    width: 50px;
    padding: 10px 10px;
    border-radius: 50%;
}
#features .feturesText {
    font-size: 50px;
}
/* features end here*/
/* help start here*/
#help{
    background-color: #F4FEFF;
}
.cardOne{
    border: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    cursor: pointer;
}
.cardOne:hover{
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
}
.cardTwo{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    cursor: pointer;
}
.cardTwo:hover{
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
}
/* help end here*/
/*screenshots start here*/
#screenshots img {
    width: 30.35%;
}
#screenshots h1 {
    font-size: 41px;
    letter-spacing: 1px;
    line-height: 52px;
}
/*screenshots end here*/
/* pricing plan start here */
#pricingPlan{
    background-image: linear-gradient(rgb(245, 43, 150,0.9),rgb(115, 27, 229,0.9)),url(img/web\ pic04.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}
#pricingPlan .card{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
#pricingPlan .card:hover{
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}
#pricingPlan .btn{
    background-color: #712FDA;
}
/* pricing plan end here */
/* customers start here */
#customers .card {
    box-shadow: 7px 7px 5px #ddd, -7px -7px 5px #ddd;
}
/* customers end here */
/* our app start here */
#ourApp{
    background-image: linear-gradient(rgb(245, 43, 150,0.9),rgb(115, 27, 229,0.9));
}
/* our app end here */
#hub{
    background-image: url("img/web\ pic15.webp");
    background-size: cover;
    background-position: center;
}
#hub button {
    width: 33%;
    height: 9vh;
    border-radius: 30px;
    background: #F9218D;
    border: none;
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
/* hub end here */

